.carousel {
    width: 100%;
    height:400px;
    text-align: center;
  }
  .imgcar{
    width: 400px;
    height: 400px;
  }

  .carousel-caption {
   text-align: center;
   margin-top: 20px;
  }

  h3{
    color: red;
    font-weight: 900;
    font-size: xxx-large;
  }

  .introfavorite{
    text-align: center;
    font-weight: 900;
    font-size: xxx-large;
    margin-bottom: 40px;
  }