/* .carsset1{
    width: 468px;
    height: 550px;
    float: left; 
}
.carsset2{
    width: 468px;
    height: 550px;
    float: right;
} */

.IDset{
    width: 757px;
    height: 663px;
    margin-bottom: -140px;
}

.col{
    text-align: center;
}

.row1{
    padding-top: 20px;
}
.imgcar{
    width: 400px;
    height: 400px;
  }

.idheading{ color: #fff; font-family: 'Righteous', cursive; font-size: 25px; font-weight: normal; text-transform: uppercase; text-shadow: 2px 2px 0 #000; text-align: center; }

@media only screen and (min-width: 1200px) {
    .carsset1{
        width: 468px;
        height: 550px;
        /* float: left; */
    }
    .carsset2{
        width: 468px;
        height: 550px;
        float: right;
    }
}  

@media only screen and (max-width: 992px) {
    .carsset1{
        width: 348px;
        height: 550px;
        /* float: left; */
    }
    .carsset2{
        width: 348px;
        height: 550px;
        float: right;
    }
    .IDset{
        width: 730px;
        height: 620px;
        margin-bottom: -140px;
    }
}

@media only screen and (max-width: 768px) {
    .carsset1{
        width: 348px;
        height: 550px;
        /* float: left; */
    }
    .carsset2{
        width: 348px;
        height: 550px;
        float: none;
    }
    .secars{
        text-align: center;
        }
        .IDset{
            width: 555px;
            height: 620px;
            margin-bottom: -140px;
        }
        .carsetsdiv{
            text-align: center;
        }
}

@media only screen and (max-width: 600px) {
    .carsset1{
        width: 348px;
        height: 550px;
        /* float: left; */
    }
    .carsset2{
        width: 348px;
        height: 550px;
        float: none;
    }
    .carsetsdiv{
        text-align: center;
    }

    .IDset{
    width: 410px;
    height: 620px;
    }
   .secars{
    text-align: center;
    }
    .extracarsimg{
        width: 400px;
        margin-bottom: -100px;
    }
    .imgcar{
        width: 400px;
        height: 400px;
      }
}

@media only screen and (max-width: 420px) {
    .IDset{
        width: 340px;
        height: 560px;
    }
    .secars{
        text-align: center;
    }
    .carsset1{
        width: 315px;
        height: 550px;
        /* float: left; */
    }
    .carsset2{
        width: 315px;
        height: 550px;
        float: none;
    }
    .imgcar {
        width: 300px;
        height: 370px;
    }
}