.imgroblox{
    width: 300px;
    height: 300px;
}

.col{
    text-align: center;
}

.row1{
    padding-top: 20px;
}

.imgrobloxcar{
    width: 550px;
    height: 550px;
}

@media only screen and (min-width: 1200px) {
    .imgrobloxcar{
        width: 550px;
        height: 550px;
    }
}  

@media only screen and (max-width: 992px) {
    .imgrobloxcar{
        width: 550px;
        height: 550px;
    }
}

@media only screen and (max-width: 768px) {
    .imgrobloxcar{
        width: 550px;
        height: 550px;
    }
}

@media only screen and (max-width: 600px) {
    .imgrobloxcar{
        width: 500px;
        height: 500px;
    }
}

@media only screen and (max-width: 420px) {
    .imgrobloxcar{
        width: 300px;
        height: 300px;
    }
}