.img{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    height: auto;
}

.dannyintro{
    font-family: 'Luckiest Guy', cursive;
    text-align: center;
    margin-top: 30px;
    font-size: 60px;
}

@media only screen and (min-width: 1200px) {
    .img{
        width:500px;
        height: auto;
    }
    .dannyintro{
        font-size: 60px;
    }
}  

@media only screen and (max-width: 992px) {
    .img{
        width:450px;
        height: auto;
    }
    .dannyintro{
        font-size: 50px;
    }
}

@media only screen and (max-width: 768px) {
    .img{
        width:300px;
        height: auto;
        margin-top:30px;
    }
    .dannyintro{
        font-size: 40px;
    }
}

@media only screen and (max-width: 600px) {
    .img{
        width:200px;
    }
}

@media only screen and (max-width: 420px) {
    .img{
        width:200px;
    }
    .dannyintro{
        font-size: 20px;
    }
}