.div {
    background-repeat: no-repeat;
    background-image: url(background2.png), url(background.jpg);
    background-size: contain, cover;
    background-position: center;
    min-height: 100vh;
    flex-direction: column;
    /* justify-content: space-between; */
    opacity: 0.2;
  }